USE [master]
GO
/****** Object:  Database [localdb]    Script Date: 2018/01/09 15:02:52 ******/
CREATE DATABASE [localdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'localdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\localdb.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'localdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\localdb_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [localdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [localdb]
GO
/****** Object:  Table [dbo].[allowance_summary]    Script Date: 2018/01/09 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[allowance_summary](
	[PERSON_ID] [char](9) NOT NULL,
	[PAY_CODE] [char](10) NOT NULL,
	[PAY_CODE_DESC] [varchar](max) NULL,
	[AMT] [numeric](12, 0) NULL,
	[START_DATE] [date] NOT NULL,
	[CURRENCY_CODE] [char](3) NULL,
	[END_DATE] [date] NOT NULL,
	[FREQUENCY] [varchar](max) NULL,
	[IS_ONCE] [char](1) NULL,
	[SYS_CREATE_DATE] [datetime] NULL,
	[WORK_LOCATION] [char](50) NULL,
	[WORKER_TYPE] [char](50) NULL,
	[COMPANY] [char](50) NULL,
	[CHINESE_NAME] [char](12) NULL,
	[NATIONAL_ID] [char](50) NULL,
 CONSTRAINT [PK__allowanc__01AF3E37939747D1] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC,
	[PAY_CODE] ASC,
	[START_DATE] ASC,
	[END_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[mail_configuration]    Script Date: 2018/01/09 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mail_configuration](
	[GID] [uniqueidentifier] NOT NULL,
	[CODE] [nvarchar](500) NULL,
	[SmtpHost] [nvarchar](100) NULL,
	[SmtpPort] [nvarchar](100) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[EmailPass] [nvarchar](100) NULL,
 CONSTRAINT [PK_mail_configuration] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[payroll_mapping]    Script Date: 2018/01/09 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[payroll_mapping](
	[GID] [uniqueidentifier] NOT NULL,
	[PAY_CODE] [char](10) NULL,
	[PAY_CODE_DESC] [nvarchar](500) NULL,
 CONSTRAINT [PK_payroll_mapping] PRIMARY KEY CLUSTERED 
(
	[GID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[personnel_info]    Script Date: 2018/01/09 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[personnel_info](
	[PERSON_ID] [char](9) NOT NULL,
	[FIRST_NAME] [char](12) NULL,
	[LAST_NAME] [char](12) NULL,
	[MIDDLE_NAME] [char](12) NULL,
	[CHINESE_NAME] [char](12) NULL,
	[ALIAS_NAME] [char](20) NULL,
	[PERS_MOBILE] [varchar](max) NULL,
	[COMPANY] [char](50) NULL,
	[PERS_EMAIL] [char](50) NULL,
	[NATIONAL_ID] [char](50) NOT NULL,
	[LASTEST_HIRE_DATE] [datetime] NULL,
	[SAL_AMT] [float] NULL,
	[POSITION_TITLE] [char](50) NULL,
	[WORK_LOCATION] [char](50) NULL,
	[COST_CENTER] [char](50) NULL,
	[ACTION] [char](2) NULL,
	[LAST_EMP_DATE] [datetime] NULL,
	[TERM_REASON] [char](50) NULL,
	[STATUS] [char](1) NULL,
	[WORKER_TYPE] [char](50) NULL,
	[SYS_CREATE_DATE] [datetime] NULL,
	[COST_CENTER_DESC] [char](50) NULL,
 CONSTRAINT [PK__personne__D837925F01D7FFFF] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC,
	[NATIONAL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[salary_change]    Script Date: 2018/01/09 15:02:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[salary_change](
	[PERSON_ID] [char](9) NOT NULL,
	[FIRST_NAME] [char](12) NULL,
	[LAST_NAME] [char](12) NULL,
	[MIDDLE_NAME] [char](12) NULL,
	[CHINESE_NAME] [char](12) NULL,
	[ALIAS_NAME] [char](20) NULL,
	[NATIONAL_ID] [char](50) NULL,
	[COMPANY] [char](50) NULL,
	[SAL_START_DATE] [datetime] NOT NULL,
	[SAL_AMT] [float] NULL,
	[SYS_CREATE_DATE] [datetime] NULL,
	[WORK_LOCATION] [char](50) NULL,
	[WORKER_TYPE] [char](50) NULL,
 CONSTRAINT [PK__salary_c__3D328389009E4E27] PRIMARY KEY CLUSTERED 
(
	[PERSON_ID] ASC,
	[SAL_START_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
